{% extends 'school_app/base.html' %} {% block title %}About Us - Dechentsemo
Central School{% endblock %} {% block content %}
<section class="about">
  {% load static %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 d-none d-lg-flex">
        <img
          src="{% static 'Images/About/About1.jpg' %}"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <div class="about-content">
          <span>About Us</span>
          <h2>Welcome to Dechentsemo Central School</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
            distinctio dolorum, autem nihil facere error molestias, quae, natus
            labore inventore eum itaque soluta architecto unde officia corrupti
            sequi obcaecati earum!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            asperiores amet quas natus mollitia soluta perspiciatis omnis at
            eaque dolorem, praesentium nulla, porro, alias officiis minima!
            Corrupti, ullam non? Adipisci.
          </p>
          <div class="buttons">
            <a href="" class="button3">
              Read More<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
