{% extends 'school_app/base.html' %} {% block title %}Add Todo - Dechentsemo
Central School{% endblock %} {% block content %}
<section class="add-todo mt-5 mb-5">
  {% load static %}
  <div class="container">
    <h2 class="text-center">Add New Todo</h2>
    <div class="row mt-4">
      <div class="col-md-8 offset-md-2">
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <div class="text-center">
            <button type="submit" class="btn btn-success">Save Todo</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
