{% extends 'school_app/base.html' %} {% block title %}Calendar - Dechentsemo
Central School{% endblock %} {% block content %}
<section class="calendar mt-5 mb-5">
  {% load static %}
  <div class="container">
    <h2 class="text-center">School Calendar</h2>
    <div class="row mt-5">
      {% for event in events %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ event.title }}</h5>
            <p class="card-text">{{ event.description }}</p>
            <p class="card-text">
              <small class="text-muted">
                Start: {{ event.start_time }} <br />
                End: {{ event.end_time }}
              </small>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="text-center mt-4">
      <a href="{% url 'add_event' %}" class="btn btn-primary">Add Event</a>
    </div>
  </div>
</section>
{% endblock %}
