{% extends 'school_app/base.html' %} {% block title %}Home - Dechentsemo Central
School{% endblock %} {% block content %} {% load static %}
<section class="hero" id="hero">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-background">
          <img src="{% static 'Images/Slider/slider2.jpg' %}" alt="" />
          <div class="carousel-container">
            <div class="carousel-content-container">
              <h2>Welcome To DECHENTSEMO CS</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laboriosam velit cumque architecto. Veniam laborum, tenetur enim
                fugit iusto placeat ab ipsa architecto numquam ex voluptatibus
                possimus pariatur consequuntur rem nesciunt!
              </p>
              <div class="buttons">
                <a href="{% url 'about' %}" class="button1">About Us</a>
                <a href="{% url 'dashboard' %}" class="button1">Dashboard</a>
                <a href="{% url 'calendar' %}" class="button1">Calendar</a>
                <a href="{% url 'add_event' %}" class="button1">Add Event</a>
                <a href="{% url 'todo_list' %}" class="button1">Todo List</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-background">
          <img src="{% static 'Images/Slider/slider3.jpg' %}" alt="" />
          <div class="carousel-container">
            <div class="carousel-content-container">
              <h2>Welcome To DECHENTSEMO CS</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laboriosam velit cumque architecto. Veniam laborum, tenetur enim
                fugit iusto placeat ab ipsa architecto numquam ex voluptatibus
                possimus pariatur consequuntur rem nesciunt!
              </p>
              <div class="buttons">
                <a href="{% url 'about' %}" class="button1">About Us</a>
                <a href="{% url 'dashboard' %}" class="button1">Dashboard</a>
                <a href="{% url 'calendar' %}" class="button1">Calendar</a>
                <a href="{% url 'add_event' %}" class="button1">Add Event</a>
                <a href="{% url 'todo_list' %}" class="button1">Todo List</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="feature mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="main-feature-box">
          <div class="icon">
            <i class="bi bi-house-door-fill"></i>
          </div>
          <h3>Professional Teachers</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            quasi, vel cumque soluta et officia ipsum consequuntur fugiat
            dolorum maxime odio? Et at sit expedita iure eum. Repellat,
            molestias autem.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="main-feature-box">
          <div class="icon">
            <i class="bi bi-book"></i>
          </div>
          <h3>Quality Education</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            quasi, vel cumque soluta et officia ipsum consequuntur fugiat
            dolorum maxime odio? Et at sit expedita iure eum. Repellat,
            molestias autem.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="main-feature-box">
          <div class="icon">
            <i class="bi bi-journal-check"></i>
          </div>
          <h3>Always READ</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            quasi, vel cumque soluta et officia ipsum consequuntur fugiat
            dolorum maxime odio? Et at sit expedita iure eum. Repellat,
            molestias autem.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="main-feature-box">
          <div class="icon">
            <i class="bi bi-dice-2-fill"></i>
          </div>
          <h3>Co-curricul Activities</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
            quasi, vel cumque soluta et officia ipsum consequuntur fugiat
            dolorum maxime odio? Et at sit expedita iure eum. Repellat,
            molestias autem.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="dashboard mt-5 mb-5">
  <div class="container">
    <div class="row">
      <h2 class="text-center">School Dashboard</h2>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="single-dashboard-box border">
          <div class="icon">
            <img
              src="{% static 'Images/dashboard/class-cleanliness.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>Class Cleanliness</h3>
          <div class="buttons">
            <a href="{% url 'class_cleanliness' %}" class="button3">
              Activity<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="single-dashboard-box border">
          <div class="icon">
            <img
              src="{% static 'Images/dashboard/club-report.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>Club Report</h3>
          <div class="buttons">
            <a href="{% url 'club_report' %}" class="button3">
              Activity<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="single-dashboard-box border">
          <div class="icon">
            <img
              src="{% static 'Images/dashboard/log-book.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>Log Book</h3>
          <div class="buttons">
            <a href="{% url 'log_book' %}" class="button3">
              Activity<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="single-dashboard-box border">
          <div class="icon">
            <img
              src="{% static 'Images/dashboard/reading-log.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>Reading Log</h3>
          <div class="buttons">
            <a href="{% url 'reading_log' %}" class="button3">
              Activity<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="single-dashboard-box border">
          <div class="icon">
            <img
              src="{% static 'Images/dashboard/staff-attendance.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>Staff Attendance</h3>
          <div class="buttons">
            <a href="{% url 'staff_attendance' %}" class="button3">
              Activity<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Additional sections for other activities -->
      <div class="col-lg-4">
        <div class="single-dashboard-box border">
          <div class="icon">
            <img
              src="{% static 'Images/dashboard/supw-report.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>SUPW Report</h3>
          <div class="buttons">
            <a href="{% url 'supw_report' %}" class="button3">
              Activity<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="single-dashboard-box border">
          <div class="icon">
            <img
              src="{% static 'Images/dashboard/teachers-substitution.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>Teachers Substitution</h3>
          <div class="buttons">
            <a href="{% url 'teachers_substitution' %}" class="button3">
              Activity<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="single-dashboard-box border">
          <div class="icon">
            <img
              src="{% static 'Images/dashboard/teachers-timetable.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>Teacher's Timetable</h3>
          <div class="buttons">
            <a href="{% url 'teachers_timetable' %}" class="button3">
              Activity<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="single-dashboard-box border">
          <div class="icon">
            <img
              src="{% static 'Images/dashboard/tod-report.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>TOD Report</h3>
          <div class="buttons">
            <a href="{% url 'tod_report' %}" class="button3">
              Activity<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="single-dashboard-box border">
          <div class="icon">
            <img
              src="{% static 'Images/dashboard/organogram.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>Organization Chart</h3>
          <div class="buttons">
            <a href="{% url 'organization_chart' %}" class="button3">
              Activity<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="single-dashboard-box border">
          <div class="icon">
            <img
              src="{% static 'Images/dashboard/pd.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>Professional Development</h3>
          <div class="buttons">
            <a href="{% url 'professional_development' %}" class="button3">
              Activity<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="single-dashboard-box border">
          <div class="icon">
            <img
              src="{% static 'Images/dashboard/plc-report.png' %}"
              class="img-fluid"
              alt=""
            />
          </div>
          <h3>PLC Report</h3>
          <div class="buttons">
            <a href="{% url 'plc_report' %}" class="button3">
              Activity<i class="bi bi-arrow-right-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
